.header {
    height: 6.5rem;
    box-shadow: 0 2px 0 rgba(0,0,0,0.3);
    background: rgba(174, 185, 190, 0.781);

    .wrap {
        position: relative;
        height: 100%;
        max-width: 1450px;
        margin: 0 auto;
        padding-top: 2px;

        .logo {
            width: 13.0rem;
            position: absolute;
            top: 50%; left: 10px;
            transform: translateY(-50%);

            img {
                display: block;
                width: 100%;
            }
        }

        .callToActions {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);

            .logout {
                text-transform: uppercase;
                cursor: pointer;
            }

            ul {
                display: flex;
            }

            ul, li {
                margin: 0;
                padding: 0;
            }

            li {
                list-style-type: none;

                a {
                    font-size: 1.8rem;
                    line-height: 1;
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    margin: 1rem;
                }
            }
        }
    }
}